<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Description</th>
    <th scope="col">Type</th>
    <th scope="col">Route</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vr of vehicleRoutesDto">
    <th scope="row">{{ vr.vehicle.id }}</th>
    <td>{{ vr.vehicle.desc }}</td>
    <td>{{ vr.vehicle.type}}</td>
    <td *ngIf="vr.route != null" >{{ vr.route.name }}</td>
    <td *ngIf="vr.route == null" ></td>
    <td *ngIf="vr.route != null"><a href="#" (click)="onEndTrip(vr)" >End Trip</a></td>
    <td *ngIf="vr.route == null"><a href="#" (click)="onDispatch(vr)">Dispatch</a></td>
  </tr>
  </tbody>
</table>
