<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true">


  <!--<agm-marker-->
    <!--*ngFor="let m of markers; let i = index"-->
    <!--(markerClick)="clickedMarker(m.label, i)"-->
    <!--[latitude]="m.lat"-->
    <!--[longitude]="m.lng"-->
    <!--[label]="m.label"-->
    <!--[markerDraggable]="m.draggable"-->
    <!--(dragEnd)="markerDragEnd(m, $event)">-->

    <!--<agm-info-window>-->
      <!--<strong>{{ m.label }}</strong>-->
    <!--</agm-info-window>-->

  <!--</agm-marker>-->

  <!--<agm-marker-->
    <!--*ngFor="let v of vehicles; let i = index"-->
    <!--[latitude]="v.currentLoc.lat"-->
    <!--[longitude]="v.currentLoc.long"-->
    <!--[label]="v.type"-->
    <!--[markerDraggable]="false"-->
    <!--&gt;-->

    <!--<agm-info-window>-->
      <!--<strong>{{ v.type + ' : ' + v.desc }}</strong>-->
    <!--</agm-info-window>-->



    <agm-marker
      *ngFor="let t of trips; let i = index"
      [latitude]="t.route.locations[t.curRouteIndex].lat"
      [longitude]="t.route.locations[t.curRouteIndex].long"
      [label]="t.vehicle.type"
      [markerDraggable]="false"
    >

      <agm-info-window>
        <strong>{{ t.vehicle.type + ' : ' + t.vehicle.desc }}</strong>
      </agm-info-window>

  </agm-marker>

  <!--<agm-circle [latitude]="lat + 0.3" [longitude]="lng"-->
              <!--[radius]="5000"-->
              <!--[fillColor]="'red'"-->
              <!--[circleDraggable]="true"-->
              <!--[editable]="true">-->
  <!--</agm-circle>-->

</agm-map>
