<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fleet Tracking</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="switchPage('app-map', 'Dashboard')" [class.active]="currentPage == 'app-map'">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="switchPage('app-vehicles', 'Transport Assets')" [class.active]="currentPage == 'app-vehicles'">
              <span data-feather="file"></span>
              Transport Assets
            </a>
          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>History</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ pageTitle }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <!--<div class="btn-group mr-2">-->
            <!--<button class="btn btn-sm btn-outline-secondary">Simulate</button>-->
          <!--</div>-->
          <!--<button class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
            <!--<span data-feather="calendar"></span>-->
            <!--This week-->
          <!--</button>-->
        </div>
      </div>
      <div [hidden]="currentPage != 'app-map'">
        <app-map></app-map>
      </div>
      <div [hidden]="currentPage != 'app-vehicles'">
        <app-vehicles></app-vehicles>
      </div>
    </main>
  </div>
</div>
